# SBT specific folders and files
target/
project/target/
project/project/

# Logs and temporary files
*.log
*.tmp

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Other OS-specific files
.DS_Store
Thumbs.db

# Scala-IDE or Metals/Bloop
.metals/
.bloop/
.bsp/

# Local SBT configuration
lib_managed/
src_managed/
